.header {
  box-sizing: border-box;
  padding-top: 40px;
  width: 100vw;
  padding-inline: 15%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

@media only screen and (min-width: 800px) {
  .header {
    width: 580px;
    padding: 0;
  }
}
