@import "../../mixsin.scss";

.primary-color {
  color: color(primary);
}
.secondary-color {
  color: color(secondary);
}
.against-color {
  color: color(against);
}
.background-color {
  color: color(background);
}
.bg-background-color {
  background-color: color(background);
}

//------------ actual classes

.wrapper {
  box-sizing: border-box;
  padding: 40px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wallpaper {
  margin-top: -15px;
  box-sizing: border-box;
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > img {
    width: 100%;
    height: auto;
  }
}

.wp-row {
  display: flex;
  flex-direction: row;
  transform: translate(0%, 36%);
  padding: 0;
  width: 40%;
}

@media only screen and (min-width: 600px) {
  .wp-main {
    width: 80%;
  }
  .body {
    margin-top: -10px;
  }
}
@media only screen and (min-width: 800px) {
  .wp-main {
    width: 580px;
  }
}
